In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score as auc

In [2]:
data_train_trd = pd.read_csv('./训练数据集1/训练数据集_trd.csv')
data_train_beh = pd.read_csv('./训练数据集1/训练数据集_beh.csv')
test_trd = pd.read_csv('./b/评分数据集_trd_b.csv')
test_beh = pd.read_csv('./b/评分数据集_beh_b.csv')

## 对beh表的所有pg_no进行挖掘

In [3]:
def beh_pg_train(code):
    output_dict = {}
    with open('./训练数据集1/训练数据集_beh.csv') as f:
        for line_num, line in enumerate(f):
            if line_num >0:
                user = line.split(',')[0]
                pay_way = line.split(',')[2]
                Trx1_1 = 0
                if user in output_dict:
                    Trx1_1 += output_dict[user]
                    if pay_way == code:
                        Trx1_1 += 1
                        output_dict.update({user:Trx1_1}) # update当前指标加上原指标
                        continue
                else:
                    if pay_way == code:
                        Trx1_1 = 1
                    output_dict.update({user:Trx1_1})
    output_list = [{'user':k, code:v} for k, v in output_dict.items()]
    Trx1_1_df = pd.DataFrame(output_list)
    return Trx1_1_df

In [7]:
ind = list(data_train_beh.page_no.value_counts().index)

In [9]:
ind

['CQA',
 'CQE',
 'AAO',
 'TRN',
 'XAI',
 'MSG',
 'FTR',
 'SZA',
 'BWA',
 'CTR',
 'XAG',
 'CQD',
 'SZD',
 'CQC',
 'EGA',
 'GBA',
 'CQB',
 'LC0',
 'BWE',
 'JF2',
 'JJK',
 'EGB',
 'MTA',
 'FLS',
 'LCT',
 'FDA',
 'SYK',
 'JJD',
 'ZY1']

In [10]:
train_pg_no = beh_pg_train('CQA')

In [12]:
for code in ind[1:]:
    cur = beh_pg_train(code)
    train_pg_no = pd.merge(train_pg_no, cur, how='left', left_on='user', right_on='user')

In [13]:
train_pg_no.head()

,user,CQA,CQE,AAO,TRN,XAI,MSG,FTR,SZA,BWA,...,JF2,JJK,EGB,MTA,FLS,LCT,FDA,SYK,JJD,ZY1
0,U64F0C9,4,7,6,0,0,0,0,2,0,...,0,0,0,0,0,0,0,0,0,0
1,UA262F2,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,U7EDD34,3,4,0,0,7,0,0,0,2,...,0,0,0,0,0,0,0,0,0,0
3,UFF6271,17,0,0,0,0,7,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,U29A12A,19,12,8,0,6,6,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [14]:
def beh_pg_test(code):
    output_dict = {}
    with open('./b/评分数据集_beh_b.csv') as f:
        for line_num, line in enumerate(f):
            if line_num >0:
                user = line.split(',')[0]
                pay_way = line.split(',')[1]
                Trx1_1 = 0
                if user in output_dict:
                    Trx1_1 += output_dict[user]
                    if pay_way == code:
                        Trx1_1 += 1
                        output_dict.update({user:Trx1_1}) # update当前指标加上原指标
                        continue
                else:
                    if pay_way == code:
                        Trx1_1 = 1
                    output_dict.update({user:Trx1_1})
    output_list = [{'user':k, code:v} for k, v in output_dict.items()]
    Trx1_1_df = pd.DataFrame(output_list)
    return Trx1_1_df

In [16]:
test_pg_no = beh_pg_test('CQA')

In [19]:
for code in ind[1:]:
    cur = beh_pg_test(code)
    test_pg_no = pd.merge(test_pg_no, cur, how='left', left_on='user', right_on='user')

In [20]:
# beh训练集
user_pgTimes = pd.DataFrame(data_train_beh.id.value_counts())
user_pgTimes['index'] = user_pgTimes.index
user_pgTimes.index = range(len(user_pgTimes))
user_pgTimes.columns = ['pg_times', 'user']
user_pgTimes = user_pgTimes[['user', 'pg_times']]

In [21]:
# beh测试集
test_user_pgTimes = pd.DataFrame(test_beh.id.value_counts())
test_user_pgTimes['index'] = test_user_pgTimes.index
test_user_pgTimes.index = range(len(test_user_pgTimes))
test_user_pgTimes.columns = ['pg_times', 'user']
test_user_pgTimes = test_user_pgTimes[['user', 'pg_times']]
test_user_pgTimes.shape

(1232, 2)

In [22]:
train_beh = pd.merge(user_pgTimes, train_pg_no, how='left', left_on='user', right_on='user')
train_beh.shape

(11913, 31)

In [23]:
test_beh = pd.merge(test_user_pgTimes, test_pg_no, how='left', left_on='user', right_on='user')
test_beh.shape

(1232, 31)

## 合并数据 填充众数

In [24]:
train_tag = pd.read_csv('./训练数据集1/train_tag_Ori.csv')
test_tag = pd.read_csv('./b/test_tag_Ori.csv')

In [25]:
train_trd_mf = pd.read_csv('./tide_up/train_trd_mf.csv')
test_trd_mf = pd.read_csv('./tide_up/test_trd_mf.csv')

In [27]:
train_data_mf = pd.merge(train_tag, train_trd_mf, how='left', left_on='id', right_on='user')
train_data_mf.drop(['user'], axis=1, inplace=True)
train_data_mf.shape

(39923, 55)

In [28]:
train_data_mf = pd.merge(train_data_mf, train_beh, how='left', left_on='id', right_on='user')
train_data_mf.drop(['user'], axis=1, inplace=True)
train_data_mf.shape

(39923, 85)

In [37]:
train_data_mf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39923 entries, 0 to 39922
Data columns (total 85 columns):
id                                 39923 non-null object
flag                               39923 non-null float64
gdr_cd                             39923 non-null float64
age                                39923 non-null int64
mrg_situ_cd                        39923 non-null float64
edu_deg_cd                         39923 non-null float64
acdm_deg_cd                        39923 non-null float64
deg_cd                             39923 non-null float64
job_year                           39923 non-null int64
ic_ind                             39923 non-null float64
fr_or_sh_ind                       39923 non-null float64
dnl_mbl_bnk_ind                    39923 non-null float64
dnl_bind_cmb_lif_ind               39923 non-null float64
hav_car_grp_ind                    39923 non-null float64
hav_hou_grp_ind                    39923 non-null float64
l6mon_agn_ind                      39923 non-null float64
frs_agn_dt_cnt                     39923 non-null int64
vld_rsk_ases_ind                   39923 non-null float64
fin_rsk_ases_grd_cd                39923 non-null int64
confirm_rsk_ases_lvl_typ_cd        39923 non-null float64
cust_inv_rsk_endu_lvl_cd           39923 non-null float64
l6mon_daim_aum_cd                  39923 non-null int64
tot_ast_lvl_cd                     39923 non-null float64
pot_ast_lvl_cd                     39923 non-null float64
bk1_cur_year_mon_avg_agn_amt_cd    39923 non-null int64
l12mon_buy_fin_mng_whl_tms         39923 non-null int64
l12_mon_fnd_buy_whl_tms            39923 non-null int64
l12_mon_insu_buy_whl_tms           39923 non-null int64
l12_mon_gld_buy_whl_tms            39923 non-null int64
loan_act_ind                       39923 non-null float64
pl_crd_lmt_cd                      39923 non-null int64
ovd_30d_loan_tot_cnt               39923 non-null int64
his_lng_ovd_day                    39923 non-null int64
hld_crd_card_grd_cd                39923 non-null float64
crd_card_act_ind                   39923 non-null float64
l1y_crd_card_csm_amt_dlm_cd        39923 non-null int64
atdd_type                          39923 non-null float64
perm_crd_lmt_cd                    39923 non-null int64
cur_debit_cnt                      39923 non-null int64
cur_credit_cnt                     39923 non-null int64
cur_debit_min_opn_dt_cnt           39923 non-null int64
cur_credit_min_opn_dt_cnt          39923 non-null int64
cur_debit_crd_lvl                  39923 non-null int64
trd_times                          31993 non-null float64
total_count                        31993 non-null float64
B_out                              31993 non-null float64
C_in                               31993 non-null float64
out_count                          31993 non-null float64
in_count                           31993 non-null float64
Flg3_A                             31993 non-null float64
Flg3_B                             31993 non-null float64
Flg3_C                             31993 non-null float64
Trx1_1                             31993 non-null float64
Trx1_2                             31993 non-null float64
Trx1_3                             31993 non-null float64
pg_times                           11913 non-null float64
CQA                                11913 non-null float64
CQE                                11913 non-null float64
AAO                                11913 non-null float64
TRN                                11913 non-null float64
XAI                                11913 non-null float64
MSG                                11913 non-null float64
FTR                                11913 non-null float64
SZA                                11913 non-null float64
BWA                                11913 non-null float64
CTR                                11913 non-null float64
XAG                                11913 non-null float64
CQD                                11913 non-null float64
SZD                                11913 non-null float64
CQC                                11913 non-null float64
EGA                                11913 non-null float64
GBA                                11913 non-null float64
CQB                                11913 non-null float64
LC0                                11913 non-null float64
BWE                                11913 non-null float64
JF2                                11913 non-null float64
JJK                                11913 non-null float64
EGB                                11913 non-null float64
MTA                                11913 non-null float64
FLS                                11913 non-null float64
LCT                                11913 non-null float64
FDA                                11913 non-null float64
SYK                                11913 non-null float64
JJD                                11913 non-null float64
ZY1                                11913 non-null float64
dtypes: float64(64), int64(20), object(1)
memory usage: 26.2+ MB

In [38]:
test_data_mf = pd.merge(test_tag, test_trd_mf, how='left', left_on='id', right_on='user')
test_data_mf.drop(['user'], axis=1, inplace=True)
test_data_mf.shape

(4000, 54)

In [39]:
test_data_mf = pd.merge(test_data_mf, test_beh, how='left', left_on='id', right_on='user')
test_data_mf.drop(['user'], axis=1, inplace=True)
test_data_mf.shape

(4000, 84)

In [40]:
train_data_ = train_data_mf.copy()
test_data_ = test_data_mf.copy()

for i in range(-20,0):
    train_data_.iloc[:, i].fillna(train_data_.iloc[:, i].mode()[0], inplace=True)
    test_data_.iloc[:, i].fillna(train_data_.iloc[:, i].mode()[0], inplace=True)